[project]
	description = PureFusionOS Manifest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tab Fitts (tabp0le)
[access "refs/for/refs/*"]
	read = group user/Tab Fitts (tabp0le)
	push = group user/Tab Fitts (tabp0le)
	label-Code-Review = -2..+2 group user/Tab Fitts (tabp0le)
	label-Verified = -1..+1 group user/Tab Fitts (tabp0le)
	rebase = group user/Tab Fitts (tabp0le)
	removeReviewer = group user/Tab Fitts (tabp0le)
	submit = group user/Tab Fitts (tabp0le)
[access "refs/heads/*"]
	read = group user/Tab Fitts (tabp0le)
	create = group user/Tab Fitts (tabp0le)
	push = +force group user/Tab Fitts (tabp0le)
	pushMerge = group user/Tab Fitts (tabp0le)
[access "refs/tags/*"]
	push = group user/Tab Fitts (tabp0le)
	push = +force group user/Tab Fitts (tabp0le)
[submit]
	action = rebase if necessary
